body{
    background-image: url(/Login_Img/LoginBackground.svg);
    height: 600px;
    width: 99%;
    border: 1px solid yellow;
}

@font-face {
    font-family: firstfont;
    src: url(Fonts/ggsansRegular.woff);
}
nav {
    width: 9%;
    margin-top: 40px;
    margin-left: 40px;
}
.GreyCont{
    width: 55%;
    height: 65%;
    margin-left: 22.5%;
    margin-top: 2%;
    align-self: center;
    background-image:  linear-gradient(to bottom right, rgb(43, 43, 43), rgb(53, 53, 53)); 
    border-radius: 6px;
    display: grid;
    grid-template: 1fr/70% 30% ;
}
.InfoCont{
    display: flex;
    grid-column: 1;
    width: 100%;
    justify-self: center;
    flex-direction: column;
    align-content: center;
    border: 2px dashed white;
}
#Bienvenida {
    font-family: firstfont;
    color: white;
    justify-self: center;
    font-size: 24px;
    line-height: 1.25;
    margin-top: 10%;
    font-weight: 650;
    align-self: center;
}
 #Bienvenida2{
    font-family: firstfont;
    color: rgb(156, 154, 154);
    justify-self: center;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 600;
    align-self: center;
 } 
 #CorreoLogin
 {
    display: flex;
    height: 25px;
    grid-column: 1;
    width: 80%;
    justify-self: left;
    background-color: rgb(41, 38, 38);
    border: 2px solid green;
 }

 #TextForm { 
    display: flex;
    font-family: firstfont;
    color: rgb(136, 135, 135);
    font-weight: bold;
    align-content: last baseline;
    border: 1px dashed red;
    height: 50px;
 }

 #Correo {
    background-color: rgb(46, 46, 46);
   
 }
